$black: #000000;
$dark: #161616;
$white: #ffffff;

$cyan: #95dfca;
$bleu-clair: #93c5fd;
$bleu: #1d4ed8;
$bleu-sombre: #1e293b;

$gris-1: #f8fafc;
$gris-2: #f9fafb;
$gris-3: #f4f4f4;
$gris-sombre: #4b5563;
$gris-clair: #9CA3AF;
$gris-bleu-clair: #eff6ff;
$gris-bleu-sombre: #404040;

$bodyFont: Inter, 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body {
  background: $white;
  color: $black;
  font-family: $bodyFont;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 72px;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

// Center

.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: $bleu;
}

.bg-dark {
  background-color: $dark;
}

.text-dark {
  color: $dark;
}
.bg-gris-3 {
  background-color: $gris-3;
}
