<div class="cookie-banner" id="cookie-banner">
    <h2>Cookies !</h2>
    <p>
        Nous avons besoin de cookies pour faire fonctionner ce magnifique site.<br>
        <strong>C'est ok pour vous ?</srtong>
    </p>
    <div class="actions">
        <button onclick="OnRefuseCookies()">Non merci</button>
        <button onclick="OnAcceptCookies()">C'est bon les cookies</button>
    </div>
    <img src="assets/img/cookie.png" alt="Image d'un jolie cookie !">
</div>

<script src="assets/js/cookie-banner.js"></script>