.test-text {
  color: red;
}

.text-white {
  color: #fff;
}

#config {
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    .mockups {
      display: block;
    }
    .configurator {
      .config-subtitle {
        display: block;
      }
    }
  }
  .mockups {
    /**/
  }

  .configurator {
    /**/
    .config-top {
      display: flex;
      flex-direction: column;
      text-align: center;
      @include md {
        text-align: left;
        p {
          font-size: 14px;
          color: $gris-sombre
        }
        h2 {
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 58px;
          letter-spacing: -0.045em;
          text-align: left;
        }
      }
      .config-subtitle {
        display: none;
        @include md {
          display: block;
        }
      }
    }
    .config-inputs {
      // Spacing
      margin-top: 1.125rem;
      h3 {
        font-size: 12px;
        // line-height: 1;
        letter-spacing: 0.015em;
        margin-bottom: 0.5rem;
      }

      .config-box-2 {
        margin-top: 18px;
      }
      .inputs-group {
        display: flex;
        flex-direction: column;
        @include md {
          flex-direction: row;

          .input-item {
            width: 128px;
            height: 100%;
            display: flex;
            &:first-child {
              label {
                border-radius: 4px 0 0 4px;
              }
            }
            &:last-child {
              label {
                border-radius: 0 4px 4px 0;
              }
            }
          }
        }

        label {
          padding: 0.625rem 1rem;
          @extend .bg-gris-3;
          @extend .text-dark;
          @extend .w-full;
          @extend .py-3;

          @extend .shadow;
          @include md {
            font-size: 14px;
          }
        }
        input[type="radio"] {
          @extend .appearance-none;
          display: none;
          &:checked {
            ~ label {
              @extend .text-white;
              @extend .bg-dark;
            }
          }
        }
      }
    }
    .config-confirm {
      // Spacing
      margin-top: 1.125rem;
      p {
        display: none;
        font-size: 12px;
        color: $gris-clair;
        i {
          color: $gris-sombre;
        }
        @include md {
          display: block;
        }
      }
      button {
        background: $bleu;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px 15px;
        color: white;
        font-weight: 500;
        margin-top: 8px;
      }
    }
  }
}

// 9CA3AF
// 4B5563
