$font-stack: 'Inter', sans-serif;

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

.contact-container {
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.4) 0%,
        rgba(10, 10, 10, 0.4) 100%), url('/assets/img/contact-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 34px 0;
}

.contact-box {
    margin: 0px;
    background-color: transparent;
    @media (min-width: 640px) {
        background-color: rgba($color: #363738, $alpha: 0.6); //#686a6e
        margin: 0 10%;
        border-radius: 6px;
    }

    @media (min-width: 1024px){
        margin-left: 80px;
        width: 770px;
    }
}

.contact-title {
    text-align: center;
    padding: 20px 0;
    
    font-family: $font-stack;
    font-size: 1.5rem;
    font-weight: 800;
    
    color: #fff;

    @media (min-width: 1024px){
        text-align: left;
        font-size: 2.25rem;
        padding-left: 46px;
    }
}

.contact-description {
    display: none;
    padding: 0 46px 40px 46px;

    font-family: $font-stack;
    font-size: 1.125rem;
    font-weight: 400;
    color: $white;

    @media (min-width: 1024px){
        display: block;
        p {
            margin: 4px;
        }
    }
}

.contact-form {
    padding: 0 46px;
    box-sizing: border-box;
    input[type=text], .contact-message {
        display: inline-block;
        border: none;

        width: 100%;
        padding: 12px;
        margin: 0.5vw 0 1vw 0;

        border-radius: 2px;
        background: $white;

        font-family: $font-stack;
        font-size: 0.75rem;
        font-weight: 400;
        color: black;

        &::placeholder {
            color: #535353;
        }

        &:focus {
            background: #ecf8fc;
            color: #000000;
        }

        
        @media (min-width: 1024px){
            font-size: 1rem;
            &:hover {
                transition: all 0.1s ease-out 0.1s;
                transform: scale(1.005);
            }
        }
    }

    input[type=submit] {
        width: 70%;
        padding: 12px;
        margin: 5px auto 20px auto;

        border: none;
        border-radius: 5px;

        background: #60A5FA;

        font-family: $font-stack;
        font-size: 1.125rem;
        color: #FFFDFD;

        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: rgb(191, 214, 243);
            color: rgb(50, 50, 92);
        }

        @media (min-width: 1024px){
            width: 216px;
        }
    }

    label {
        font-family: $font-stack;
        font-size: .875rem;
        font-weight: 500;
        color: #FFFFFF;

        @media (min-width: 1024px){
            font-size: 1.125rem;

        }
    }

    .contact-form-name {
        display: inherit;
        width: 100%;
        @media (min-width: 1024px){
            display: flex;
            justify-content: space-between;
            div {
                width: 325px;
            }
        }
    }

}

.contact-form-submit {
    text-align: center;
    @media (min-width: 1024px){
        text-align: right;
    }
}

.contact-message {
    min-height: 110px;
    resize: none;
}