.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
     background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 82.73%, #040405 94.06%, #040405 100%), 
    linear-gradient(249.75deg, #01061F 0%, rgba(0, 0, 0, 0) 78.93%), linear-gradient(116.78deg, #000000 0%, rgba(0, 0, 0, 0) 90.87%), 
    url('/assets/img/bc_hero.jpg');   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    padding: 10%;
    align-content: center;
}

#hero_svg1{
    height: 40px;
    width: auto;
}

#hero_svg2{
    height: 32px;
    width: 32px;
}

.t1_hero {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#color_t1_hero {
    color: #93C5FD;
}

.hero-container button{
    width: 100%;
    border: 0;
    display: flex;
    background-color: #1D4ED8;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    flex-direction: center;
}


.hero-container p {
    width: 83vw; 
    /*margin: 0 auto;*/
    color: white;
}

#text_hero_button{
    font-size: 14px;
    color: white;
    margin-left: 5%;
}

.button{
    align-items: center;
}


