.team-section {
    h2 {
        margin-bottom: 3vw;
    }

    .team-members {
        display: flex;        
        align-items: center;
        
        width: 100%;

        list-style: none;
        overflow-x: auto;
        
        li:not(:last-child){
            margin-right: 50px;
        }

        li:last-child {
            margin-right: 50px;
        }
    }
}

