.team-section {
  margin-top: 10rem;
  margin-bottom: 3rem;
  overflow-x: hidden;

  h2 {
    margin-bottom: 1rem;
  }

  .subtitle {
    display: none;
    width: 30vw;
    margin: 0 auto;
    text-align: center;
    color: grey;
  }

  .team-members {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 4vh;
    padding-left: 0;
    list-style: none;
    overflow-x: auto;

    padding-bottom: 22px;

    transition: all 0.2s;
    transform: scale(1);
    will-change: transform;
    user-select: none;

    &.active {
      background: rgba(255, 255, 255, 0.3);
      cursor: grabbing;
      cursor: -webkit-grabbing;
      transform: scale(1.02);
    }
  }

  .scroll-team-parent {
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 100%;
  }

  .gradient-l {
    user-select: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    z-index: 10;
    background: linear-gradient(-90deg, transparent, #fff);
  }

  .gradient-r {
    user-select: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    z-index: 10;
    background: linear-gradient(90deg, transparent, #fff);
  }

  // Hide subtitles under heading and make team list scrollable
  @media screen and (min-width: 1600px) {
    .subtitle {
      display: block;
    }

    .team-members {
      justify-content: center;
      width: 100vw;
      overflow-x: hidden;
    }
  }
}
