.team-section {
    margin-top: 7rem;
    margin-bottom: 3rem;
    overflow-x: hidden;

    h2 {
        margin-bottom: 1rem;
    }

    .subtitle {
        display: none;
        width: 30vw;
        margin: 0 auto;
        text-align: center;
        color: grey;
        font-weight: bold;
    }

    .team-members {
        display: flex;  
        align-items: center;    
        justify-content: left;      
        margin-top: 12vh;
        padding-left: 0;
        list-style: none;
        overflow-x: auto;
        overflow-y: hidden;
    }

    // Hide subtitles under heading and make team list scrollable
    @media screen and (min-width: 1600px) {
        .subtitle {
            display: block;
        }

        .team-members {
            justify-content: center;
            width: 100vw;    
            overflow-x: hidden;
        }
    }

}

