.team-member {
    text-align: center;

    img {
        display: inline-block;
        width: 200px;
        margin: 0 auto;
        border-radius: 10000px;
    }

    p {
        margin-top: 1vw;
        font-size: 1.375rem;
    }
}