.team-member {
    height: 100%;
    background-color: red;

    img {
        width: 10vw;
        border-radius: 10000px;
    }

    p {
        text-align: center;
        font-size: 1.375rem;
    }
}