<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="FitRoad - Homepage">
<meta property="og:site_name" content="FitRoad">
<meta property="og:url" content="fitroad.netlify.app">
<meta property="og:description" content="Fit Road est un site web qui vas vous aider à faire du sport de puis chez vous pendant le confinement. Il s'adapte à vos besoins afin de vous apporter l'entraînement qu'il vous faut.">
<meta property="og:type" content="product">
<meta property="og:image" content="">


  <meta name="description" content="Fit Road est un site web qui vas vous aider à faire du sport de puis chez vous pendant le confinement. Il s'adapte à vos besoins afin de vous apporter l'entraînement qu'il vous faut.">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/minireset.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">


</head>

<body>
  
  {%- include layouts/header.html -%}

  {%- include layouts/player.html -%}
  <main>
    {%- include components/cookie-banner.html -%}


    {%- include layouts/hero.html -%}

    {%- include layouts/configurator.html -%}

    {%- include layouts/team.html -%}

    {%- include layouts/contact.html -%}
  </main>

  {%- include layouts/footer.html -%}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/data.js"></script>
  <script src="/assets/js/scroll.js"></script>
  <script type="text/javascript" async src="/assets/js/swiper.js"></script>
  <script src="/assets/js/logic.js"></script>
</body>

</html>