<section id="config">
  <div class="mockups">
    <img class="frame-back lax lax_preset_slideY-686-81" data-stylax="-10" src="/assets/img/Frame3DBack.png" alt="" />
    <img class="frame-front lax lax_preset_slideY-686-200" data-stylax="-5" src="/assets/img/Frame3DFront.png" alt="" />
  </div>
  <div class="configurator">
    <div class="config-top">
      <h2>Configurez votre entraînement</h2>
      <p class="config-subtitle">
        Choisissez votre niveau et la partie du corps que vous voulez entraîner pour commencer :
      </p>
    </div>
    <form class="config-inputs">
      <div class="config-box">
        <h3>Choix du niveau</h3>
        <div class="inputs-group">
          <div class="input-item">
            <input id="config-1-beginner" class="" name="level" value="beginner" type="radio" />
            <label for="config-1-beginner" class="text-xl">Débutant</label>
          </div>
          <div class="input-item">
            <input id="config-1-medium" name="level" value="medium" type="radio" />
            <label class="text-xl" for="config-1-medium">Intermédiaire</label>
          </div>
          <div class="input-item">
            <input id="config-1-expert" name="level" value="expert" type="radio" />
            <label class="text-xl" for="config-1-expert">Expert</label>
          </div>
        </div>
      </div>
      <div class="config-box-2">
        <h3>Choisissez ce que vous voulez travailler</h3>
        <div class="inputs-group">
          <div class="input-item">
            <input id="config-2-abdo" name="work" value="abs" type="radio" />
            <label class="text-xl" for="config-2-abdo">Abdominaux</label>
          </div>
          <div class="input-item">
            <input id="config-2-top" name="work" value="top" type="radio" />
            <label class="text-xl" for="config-2-top">Haut du corps</label>
          </div>
          <div class="input-item">
            <input id="config-2-bas" name="work" value="bas" type="radio" />
            <label class="text-xl" for="config-2-bas">Bas du corps</label>
          </div>
        </div>
      </div>
    </form>
    <div class="config-confirm">
      <p>Vous avez choisis le niveau <i>intermédiaire</i> et vous voulez travailler <i>les abdominaux</i></p>
      <button>
        <span>Commencer mon entrainement</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18px" height="18px">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
        </svg>
      </button>
    </div>
  </div>
</section>
