<section id="config">
  <div>
    <h2>Configurer votre entraînement</h2>

    <div class="config-group">
      <div class="">
        <input checked id="config-1-beginner" class="" name="config-1" value="beginner" type="radio" />
        <label for="config-1-beginner" class="text-xl">Débutant</label>
      </div>
      <div class="mt-2">
        <input id="config-1-medium" name="config-1" value="medium" type="radio" />
        <label class="text-xl" for="config-1-medium">Intermédiaire</label>
      </div>
      <div class="mt-2">
        <input id="config-1-expert" name="config-1" value="expert" type="radio" />
        <label class="text-xl" for="config-1-expert">Expert</label>
      </div>
    </div>
  </div>
</section>
