<section class="contact-container">
    <div class="contact-box">
        <h2 class="contact-title">Contactez-nous</h2>
        <div class="contact-description">
            <p>Avez-vous une question à nous poser ?</p>
            <p>Vous rencontrez un problème sur notre site web ?</p>
            <p>Ecrivez-nous un petit message !</p>
        </div>
        <form class="contact-form" action="">
            <label>Nom</label>
            <input type="text" placeholder="Votre nom..">
            <label>Prénom</label>
            <input type="text" placeholder="Votre prénom..">
            <label>Adresse mail</label>
            <input type="text" placeholder="Votre adresse mail..">
            <label>Message</label>
            <!-- <input class="heighttext" type="text" placeholder="Votre message.."> -->
            <textarea class="contact-message" name="textarea" placeholder="Votre message.."></textarea>
            <div class="contact-form-submit">
                <input type="submit" value="Contacter">
            </div>
        </form>
    </div>
</section>