<section class="contact-container">
    <div class="contact-box">
        <h2 class="contact-title">Contactez-nous</h2>
        <div class="contact-description">
            <p>Avez-vous une question à nous poser ?</p>
            <p>Vous rencontrez un problème sur notre site web ?</p>
            <p>Ecrivez-nous un petit message !</p>
        </div>
        <form action='' onsubmit="sendEmailContact()" id="contact" class="contact-form">
            <div class="contact-form-name">
                <div>
                    <label>Nom</label>
                    <input id="firstname" type="text" placeholder="Votre nom.."required>
                </div>
                <div>
                    <label>Prénom</label>
                    <input id="name" type="text" placeholder="Votre prénom.."required>
                </div>
            </div>
            <label>Adresse mail</label>
            <input type="text" placeholder="Votre adresse mail.." required>
            <label>Message</label>
            <!-- <input class="heighttext" type="text" placeholder="Votre message.."> -->
            <textarea id="message" class="contact-message" name="textarea" placeholder="Votre message.." required></textarea>
            <div class="contact-form-submit">
                <input type="submit" value="Contacter">
            </div>
        </form>
    </div>
</section>
<script src="/assets/js/sendingEmail.js"></script>