<section class="contact-container">
    <h2 class="contact-title">Contactez-nous</h2>
    <form class="contact-form" action="">
        <label>Nom</label>
        <input type="text" placeholder="Votre nom..">
        <label>Prénom</label>
        <input type="text" placeholder="Votre prénom..">
        <label>Adresse mail</label>
        <input type="text" placeholder="Votre adresse mail..">
        <label>Message</label>
        <input type="text" placeholder="Votre message..">
        <input type="submit" value="Contacter">
    </form>
</section>