<footer>
  <div class="footer-flex-container space-between">
    <div class="footer-icons">
      <img src="assets/img/FITROADblc.png" alt="Logo de FitRoad" class="main-icon">
      <ul class="footer-flex-container margins margin-first socials-links">
        <li><a href="https://www.facebook.com/"><img src="assets/img/logos_facebook.svg" alt="Icone de Facebook"></a></li>
        <li><a href="https://www.instagram.com/?hl=fr"><img src="assets/img/logos_instagram-icon.svg" alt="Icone de Instagram"></a></li>
        <li><a href="https://twitter.com/"><img src="assets/img/logos_twitter.svg" alt="Icone de Twitter"></a></li>
        <li><a href="https://discord.com/"><img src="assets/img/logos_discord.svg" alt="Icone de Discord"></a></li>
      </ul>
    </div>

    <div class="newsletter">
      <h3>Inscrivez-vous à notre newsletter !</h3>
      <div class="newsletter-actions">
        <input class="email-field" type="text" placeholder="Votre adresse mail..."/>
        <button>S'inscrire</button>
      </div>
    </div>
  </div>
</footer>

