<footer class="footer">
  <table style="width: 100%">
    <tr>
      <td style="width: 50%">
        <div style="color: white">
          <div class="contenu">
            <img
              src="\assets\img\FITROADblc.png"
              class="center"
            />
          </div>
          <div class="icones" style="margin-top: 20px; margin-left: auto; margin-right: auto">
            <div>
              <img
                class="center"
                src="\assets\img\logos_facebook.svg"
                height="50"
                width="50"
              />
            </div>
            <div>
              <img
                class="center"
                src="\assets\img\logos_instagram-icon.svg"
                height="50"
                width="50"
              />
            </div>
            <div>
              <img
                class="center"
                src="\assets\img\logos_twitter.svg"
                height="50"
                width="50"
              />
            </div>
            <div>
              <img
                class="center"
                src="\assets\img\logos_discord.svg"
                height="50"
                width="50"
              />
            </div>
          </div>
        </div>
      </td>
      <td>
        <div style="color: white; padding-right: 20px; padding-top: 20px">
          <div class="contenu">
            <form style="width: 100%">
              <label for="fname" style="font-size: 35px">Inscrivez-vous à notre newsletter :</label><br />
              <input
                type="text"
                id="fname"
                name="fname"
                value="Votre e-mail..."
                style="color: #a4a4a4; width: 100%; font-size: 35px; font-family: 'Inter', sans-serif"
              /><br />
              <input
                type="submit"
                value="S'inscrire"
                style="width: 100%; font-size: 35px; font-family: 'Inter', sans-serif"
              />
            </form>
          </div>
        </div>
      </td>
    </tr>
  </table>
</footer>
