<section class="hero-section">
    <div class="hero-texts">
        <h1>Gardez<img src="assets/img/Pictogramme_bonhomme.svg" alt=""><br/><span>la forme !</span></h1>
        <p class="hero-subtitle">Garder la forme depuis chez vous<br/>et sans matériel avec des exercices quotidiens...</p>
        <a href="#config" class="cta"><div class="cta-container"><img src="/assets/img/barbell-sharp.svg" alt="Icone d'altere"><p>Configurez mon entraînement</p></div></a>
        <div class="commentaires">
            <img src="assets/img/anotation.png" alt="" class="anotation" />
            <div class="comment-card">
                <img src="assets/img/profil-comment.png" alt="">
                <div class="comment-texts">
                    <h4>Savannah Nguyen</h4>
                    <p>“FitRoad m’a permis de gagner du muscle !! C’était peine perdue 😅”</p>
                    <div class="bg-text-card"></div>
                </div>
                <div class="bg-card"></div>
                <div class="bg-card"></div>
            </div>
        </div>
    </div>
</section>
