<section class="team-section">
    <h2 class="center">Notre équipe :</h2>
    <p class="subtitle">Nous sommes les créateurs de ce site, cliquez pour plus de détails sur nous et notre parcours.</p>

    <ul class="team-members">
        <li>{%- include components/container-team-member.html photo="assets/img/martin.png" nom="Martin" poste="Coach - Developer" -%}</li>
        <li>{%- include components/container-team-member.html photo="assets/img/vanon.png" nom="Vanon" poste="CEO at FitRoad" -%}</li>
        <li>{%- include components/container-team-member.html photo="assets/img/matteo.png" nom="Mattèo" poste="Deisgner - Developer" -%}</li>
        <li>{%- include components/container-team-member.html photo="assets/img/laurent.png" nom="Laurent" poste="Designer logo - interface" -%}</li>
        <li>{%- include components/container-team-member.html photo="assets/img/guillaume.png" nom="Guillaume" poste="Designer - Developer" -%}</li>
        <li>{%- include components/container-team-member.html photo="assets/img/gabriel.png" nom="Gabriel" poste="Designer - Developer" -%}</li>
    </ul>
</section>