<section class="team-section">
    <h2 class="center">Notre équipe</h2>

    <ul class="team-members">
        <li>{%- include components/container-team-member.html photo="https://picsum.photos/300/300" nom="Martin" -%}</li>
        <li>{%- include components/container-team-member.html photo="https://picsum.photos/300/300" nom="Vanon" -%}</li>
        <li>{%- include components/container-team-member.html photo="https://picsum.photos/300/300" nom="Mattèo" -%}</li>
        <li>{%- include components/container-team-member.html photo="https://picsum.photos/300/300" nom="Laurent" -%}</li>
        <li>{%- include components/container-team-member.html photo="https://picsum.photos/300/300" nom="Guillaume" -%}</li>
        <li>{%- include components/container-team-member.html photo="https://picsum.photos/300/300" nom="Gabriel" -%}</li>
    </ul>
</section>